<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\style.css">
        <title>Calculadora de Dano</title>
    </head>
    <body>
        <div>
            <h1>CALCULADORA DE DANO</h1>
        </div>
        <div>
            <h2>Selecione um personagem</h2>
        </div>
        <section class="container">
            <div>
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\orc.png" alt="Orc">
                <br>
                <b>Orc</b>
            </div>
            <div>
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\goblin.png" alt="Goblin">
                <br>
                <b>Goblin</b>
            </div>
            <div>
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\feiticeira.png" alt="Feiticeira">
                <br>
                <b>Feiticeira</b>
            </div>
        </section>
        <div>
            <h2>Selecione uma arma</h2>
        </div>
        <section class="container">
            <div>
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\soco.png" alt="Soco">
                <br>
                <b>Soco</b>
            </div>
            <div>
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\arco.png" alt="Arco">
                <br>
                <b>Arco</b>            
            </div>
            <div>
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\espada.png" alt="Espada">
                <br>
                <b>Espada</b>            
            </div>
        </section>
        <div class="container">
            <button id="botao" type="button">Calcular Dano</button>
        </div>
    </body>
</html>