<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\style.css">
        <title>Calculadora de Dano</title>
    </head>
    <body>
        <div>
            <h1>CALCULADORA DE DANO</h1>
        </div>
        <div>
            <h2>Selecione um personagem</h2>
        </div>
        <section class="container">
            <div class="card">
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\orc.png" alt="Orc">
            </div>
            <div class="card">
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\goblin.png" alt="Goblin">
            </div>
            <div class="card">
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\feiticeira.png" alt="Feiticeira">
            </div>
        </section>
        <section class="container">
            <h3>Orc</h3>
            <h3>Goblin</h3>
            <h3>Feiticeira</h3>
        </section>
        <div>
            <h2>Selecione uma arma</h2>
        </div>
        <section class="container">
            <div class="card">
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\soco.png" alt="Soco">
            </div>
            <div class="card">
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\arco.png" alt="Arco">
            </div>
            <div class="card">
                <img src="C:\Users\Icaro\OneDrive\Área de Trabalho\ESTUDOS BLUE\BlueEdtech_Modulo2\BlueEdtech_Modulo2\projeto01\static\espada.png" alt="Espada">
            </div>
        </section>
        <section class="container">
            <h3>Soco</h3>
            <h3>Arco</h3>
            <h3>Espada</h3>
        </section>
        <div class="container">
            <button class="botao">Calcular Dano</button>
        </div>
    </body>
</html>