@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    background: #eeeeee;
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 1rem 0;
}

.header{
    padding-top: 20px;
    background: #FFFFFF;
}
.bloco{
    display: flex;
    justify-content: center;
    text-align: center;
}
.botao{
    background-color: #3359ec;
    border: none;
    border-radius: 10px;
    color: white;
    display: inline-block;
    padding: 15px;
    margin: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.796);
    cursor: pointer;

}

.botao:hover{
    background-color: #5673ee;
    transition: 0.25s;
}