<!DOCTYPE html>
<html>
    <head>
        <title>Barbearia do zé</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <div><!--Div Site-->
            <div class="cabecalho"><!--Div Cabeçalho-->
                <div class="menu"><!--Div Menu-->
                    <ul>
                        <li><a href="#">Início</a></li>
                        <li><a href="#">Loja</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contato</a></li>
                        <li><a href="#">Sobre</a></li>
                    </ul>
                </div><!--Div Menu-->
                <div class="logo"><!--Div Logo-->
                    <img height=auto src="/static/logo.png">
                </div><!--Div Logo-->
                <div class="carrinho"><!--Div Carrinho-->
                    <img src="/static/carrinho.png">
                </div><!--Div Carrinho-->
            </div><!--Div Cabeçalho-->
            <div class="imagensmeio"><!--Div Imagens Meio-->
                <div><!--Div Imagem Meio 1-->
                    <img width=100% height=50% src="/static/imagem1.png">
                </div><!--Div Imagem Meio 1-->
                <div><!--Div Imagem Meio 1-->
                    <img width=100% height=50% src="/static/imagem2.png">
                </div><!--Div Imagem Meio 1-->
            </div><!--Div Imagens Meio-->
            <div class="faixa"><!--Div Faixa-->
                <div><!--Serviços Faixa 1-->
                    <img src="/static/produto1.png">
                </div><!--Serviços Faixa 1-->
                <div><!--Serviços Faixa 2-->
                    <img src="/static/produto2.png">
                </div><!--Serviços Faixa 2-->
                <div><!--Serviços Faixa 3-->
                    <img src="/static/produto3.png">
                </div><!--Serviços Faixa 3-->
                <div><!--Serviços Faixa 4-->
                    <img src="/static/produto4.png">
                </div><!--Serviços Faixa 4-->
            </div><!--Div Faixa-->
            <div class="imagemeservicos"><!--Div Imagens e Serviços-->
                <div><!--Imagem 1-->
                    <p>Imagem 1</p>
                </div><!--Imagem 1-->
                <div><!--Serviço 1-->
                    <p>Serviço 1</p>
                </div><!--Serviço 1-->
                <div><!--Imagem 2-->
                    <p>Imagem 2</p>
                </div><!--Imagem 2-->
                <div><!--Serviço 2-->
                    <p>Serviço 2</p>
                </div><!--Serviço 2-->
            </div><!--Div Imagens e Serviços-->
            <div><!--Div Imagem Rodapé-->
                <div class="imagemrodape"><!--Imagem Rodapé-->
                    <p>Imagem Rodapé</p>
                </div><!--Imagem Rodapé-->
            </div><!--Div Imagem Rodapé-->
            <div class="rodape"><!--Div Rodapé-->
                <div><!--Newsletter-->
                    <p>Newsletter</p>
                </div><!--Newsletter--> 
                <div><!--Informações-->
                    <p>Informações</p>
                </div><!--Informações-->
                <div><!--Minha Conta-->
                    <p>Minha Conta</p>
                </div><!--Minha Conta-->
                <div><!--Localização-->
                    <p>Localização</p>
                </div><!--Localização-->
            </div><!--Div Rodapé-->
        </div><!--Div Site-->
    </body>
</html>