<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="" rel="stylesheet">
    <title>Jogo Blue</title>
    <style>
        body{
            background-color:white;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            padding: 20px;
        }
    </style>
</head>
<body>
    <div class="div-principal"></div>
    <div class="div-logo">
        <p>logo</p>
    </div>
    <form>
        <div class="div-form">
            <label for="nome">Nome: </label><input type="text" name="nome" id="nome" placeholder="digite seu nome"><br>
            <label for="sobrenome">Sobrenome: </label><input type="text" name="sobrenome" id="sobrenome" placeholder="digite seu sobrenome"><br>
            <input type="radio" name="criatura" id="criatura1" value="elfo"> 
        </div>
    </form>
</body>
</html>